body {
  font-family: "TT Lakes";
  background-color: #ffffff;

  .container {
    margin: 0 auto;
    // max-width: 1500px;
    display: block;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-left: 320px !important;
  }
}

.lock {
  overflow: hidden;
}
